.enemyCard{
margin: 75px;
// height: fit-content;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
height: 650px;
width:500px;
}
    
.cardImg{
width: 400px;
height: 400px;
}


#addNewEnemyBtn , #save{
  background-color: #BC1E22;
};
