@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

body {
  background: url(https://wallpaperplay.com/walls/full/f/f/b/124147.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Saira', sans-serif;
}

.navbar {
  background-color: black;
  color: white;

  .fab {
    color: 	#BC1E22;
    padding: 10px;
  }

  #logout-button {
    color:black;
    font-weight: bold;
    display: inherit;
    justify-content: flex-end;
     margin-left: 1em;
  }
}

.hide {
  display: none;
}

.loginBtn {
  height: 50px;
  width: auto;
}
