@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

body {
  background-color: #000000;
  font-family: Saira, sans-serif;
}

#box {
  border: 5px solid #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 1em;
}

.navbar {
  color: white;

  .fab {
    color: 	#BC1E22;
    padding: 10px;
  }

  #logout-button {
    color:white;
    display: inherit;
    justify-content: flex-end;
    margin-left: 1em;
  }
}

.hide {
  display: none;
}