.weaponCard {
  color: #FFFFFF;
  text-shadow: 0 0 0.625em #fff, 0 0 1.5625em #fff, -0.0625em 0 0.125em rgba(0,0,0,0.5);
}

.btn:hover {
  background-color: #BC1E22;
  color: #000000;
}

.btn:focus {
  outline:none;
  box-shadow: none;
}

.delete-button {
  color: #BC1E22;
  font-weight: bold;
}

.edit-button {
  border-color: #BC1E22;
  color: #FFFFFF;
  font-weight: bold;
}