.add-button {
  border-color: #BC1E22;
  color: #FFFFFF;
  font-weight: bold;
}

.delete-button {
  color: #BC1E22;
  font-weight: bold;
}

.edit-system {
  border-color: #BC1E22;
  color: #FFFFFF;
  font-weight: bold;
}

.btn:hover {
  background-color: #BC1E22;
  color: #000000;
}

.btn:focus {
  outline:none;
  box-shadow: none;
}
